@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;


}
body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}
li{
    list-style: none;
    text-align: center;
}
img{
    display: block;
    max-width: 100%;
}
.d-flex{
    display: flex;
    align-items: center;
}
nav p{
    font-weight: 500;
    font-size: 1.4rem;
    color: #66BD66;
    margin-left: 0.2em;
}
nav button{
    border: none;
    background-color: white;
    margin-left: auto;

}
nav{
    display: flex;
    padding: 0.3em 1.3em;
    margin-bottom: 2em;
    box-shadow: 0px 2px 10px #00000029;
}
span{
    font-size: 0.6rem;
}
.hero-moving__img{
    display: flex;
    overflow: hidden;

}
.hero-moving__img>img{
    flex-shrink: 0;
     width: 100%;
    transition: transform 1s ease;

}

.header__hero-moving>img{
    width: 100%;
}
header>h2{
    font-weight: 600;
    margin: 1em 0;
    font-size: 1.3rem;
}
.header__features{
    background-color: #66BD66;
    color: white;

}

.ham_buttons{
    display: block;
    padding: 1em;
    text-decoration: none;
    color: black;

}
.ham_buttons>i{
    margin-right: 0.5em;
}

.header__nav-section{
    height: 100vh;
    width: 50vw;
    position: absolute;
    background-color: white;
    right: 0;
    top: 0;
    display: none;
    box-shadow: -3px 0px 10px #00000073;
    z-index: 10;
}
.features__flist{
    display: flex;
    justify-content: space-between;
    padding: 1.4em 0em;
    padding-top:2em;
}
.flist__list{
    font-size: 0.7rem;
    width:120px;
    margin-bottom: 1em;

}
.flist__list img{
    margin: auto;
    width: 60%;
    margin-bottom: 0.5em;
}
.header__loans{
    background-color: #66BD66;
    color: white;
    
}
.loans__lnlist{
    padding: 1em 0;
}
.lnlist--top, .lnlist--bottom{

    display: flex;
    justify-content: space-between;

}

.lnlist--bottom{
    margin-top: 1em;
}
.lnlist__list{
    width: 120px;

}
.lnlist__list>img{
    width:50%;
    margin: auto;

}
.lnlist__list>p{
    font-size: 0.6rem;
}
.lnlist__csoon{
    margin: auto;
    padding: 1em;
    border: 5px solid white;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1em;
    width: 80%;
    
}
.main__ad{
 
    display: flex;
    margin-top: 2em;
    justify-content: space-between;
    padding: 0 0.5em;
}
.main__ad>img{
    width: 30%;
    align-self: flex-start;
}
.ad__text{
    width: 60%;
}
.text__heading{
    font-weight: 600;
    font-size: 1.3rem;
}
.text__para{
    margin-top: 0.4em;
    font-size: 0.8rem;
}
.ad__btn{
    padding:1em;
    border: none;
    background-color: #66BD66;
    color: white;
    margin-top: 1em;
    border-radius: 3px;
}
.ad__btn:hover{
    background-color: #61a761;
    cursor: pointer;
}
footer{
    margin-top: 1em;
}
.footer__social{

    display: flex;
    justify-content: space-between;
    padding: 1em
}
.social__download{
    width:50 ;
}
.social__download>h2{
    font-weight: 700;
    line-height: 30px;
    margin-bottom: 0.5em;
}
.social__media{
    width: 40%;
    display: flex;

    justify-content: space-between;
}
.social__media>img{
    width: 30px;
    height: 30px;
}
.flinks__insurance, .flinks__business{
    padding: 1em 0;

}
footer li{
    margin-bottom: 0.5em;
}
.footer__links{
    text-decoration: none;
    color: black;
}
.footer__links:hover{
    text-decoration: underline;
}
.footer__flinks h2{
    margin-left: 3em;
}
.footer_list{

    width: 50%;
    margin: auto;
}
.footer_list li{
    list-style: disc;
    text-align: left;

}
.flinks__mlinks{
    width: 50%;
    margin: auto;
}
.mlinks__list{
    text-align: left;
    list-style: disc;
}
.footer__copyright{
    color: rgb(135, 135, 135);
    font-size: 0.7rem;
}
.copyright__clist{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    margin-top: 2em;
}
.clist__list{
    text-align: left;

}
.clist__links{
    text-decoration: none;
    color: rgb(135, 135, 135);
}
.clist__links:hover{
    text-decoration: underline;
}
.copyright__rights{
    text-align: center;
    margin: 1em 0;
}

@media (max-width: 350px){

    .features__flist{
        flex-wrap: wrap;
    }
}