@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
:root{
  --green : #66bd6678;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#qr-video{
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 4px solid #66BD66;
  border-radius: 3px ;
}
main{


  width:60% ;

  padding-top: 1em;
  border-radius: 10px;
}
h1{
  color:#66BD66 ;
}
.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6em;
  
}
.heading>img{
  width: 50px;
}
#qr-result{
  margin-top: 20px;
  padding: 10px;

  border-radius: 5px;

  color:#66BD66;
  text-align: center;
}
.qr-container{

  width: 100%;
  padding: 2em 0;
  margin: auto;
  position: relative;
}
.gradient{
  top: 0;

width: 100%;
height: 100%;
animation: gra 1s infinite;
animation-timing-function: linear;
position: absolute;
}

@keyframes gra {
  0% {
    
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 0% ,transparent 100%);
  }
  10%{
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 20% ,transparent 100%);
  }
  20%{
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 55% ,transparent 100%);
  }
  30%{
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 75% ,transparent 100%);
  }
  40%{
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 90% ,transparent 100%);
  }
  50% {
   
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 100% ,transparent 100%);
  }
  60%{
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 90% ,transparent 100%);
  }
  70%{
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 75% ,transparent 100%);
  }
  80%
  {
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 55% ,transparent 100%);
  }
  90%{
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 20% ,transparent 100%);
  }
  100% {
   
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 0% ,transparent 100%);
  }
}