@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
img{
    display: block;
    max-width: 100%;
}
h1{
    color: #66BD66;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 251, 251);
}
h1{
    text-align: center;
    margin-bottom: 0.7em;
}
main{
    width: 80%;
    max-width: 1300px;
    padding: 1em 3em; 
    background-color: #83c9721d;
    background-image: url("../images/Icon-background.png");
    background-repeat: no-repeat;
    background-size: 180px 300px;
    background-position: center;
    position: relative;
}
.spacing{
    margin-bottom: 1em;
}
.content{
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}   
.images{
    width: 200px;

}

#cimg{
    width: 200px;
}
.text{
    width: 50%;
}
.inp_section{
    display: flex;
    width: 100%;
    justify-content: space-between;

}
.animal_inp{
    width: 100px;
    text-align: center;

}
input:focus{
    outline: none;

}
button{
    padding:  0.5em 3em;
    color: white;
    background-color: #66BD66;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin: auto;
    display: block;
    
}
#date{
    border: none;
}
#Amount{
    width: 80px;
    padding: 0.5em 0.8em ;
    border: none;
}
.charge{

    text-align: center;
}
h2{
    text-align: center;
    margin-bottom: 1em;
}
.usrnumber{
    position: absolute;
    top: 0;
    right: 10px;
}
.date_usrnumber{
    
     display: flex;
     justify-content: space-between;
}
@media print {
    .charge{
        font-size: 0.8rem;
    }
    .spacing{
        margin-bottom: 0.5em;
    }
    h1{
        font-size: 1rem;
        margin-bottom: 0;
    }
    h2{
        font-size: 0.7rem;
    }
    .content{
        font-size: 0.7rem;
    }
    body {
      background-color: #ffffff !important; /* Override the background color for print */
    }
  
    main {
    background-color: #83c9721d;
    background-image: url("../images/Icon-background.png");
    background-repeat: no-repeat;
    background-size: 100px 200px;
    background-position: center;
    height: 43%;
    width: 100%;

    }
    body{
        display: block;
    }
    button{
        display: none;
    }
  }