@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
img{
    display: block;
    max-width: 100%;
}
a{
    text-decoration: none;

}
li{
    list-style: none;
}

label{
    display: block;

}
#submit{

    display: block;
}
input{
    padding: 0.6em 0.4em;
}

input:hover{
    cursor: pointer;
}
input:focus{
    outline: none;
}

main{
    width: 90%;
    margin: auto;
    margin-top: 4em;
}
h1{
    text-align: center;
    margin-bottom: 2em;
}


.cimg-input::file-selector-button {
    display: none;
}
.cimg-label{
 width: 100%;
 border: 2px solid gainsboro;
 border-style: dashed;
 padding: 0.7em;
 cursor: pointer;
 margin-bottom: 3em;
}
.cimg-label>img{
    margin: auto;
}
.cimg-input{
    text-align: center;
    display: block;
    width: 100%;
}
.form-dflex{
    display: flex;
    justify-content: space-between;

}
.image_column{
    width: 30%;
}
.input_sec{
    position: relative;
    margin-bottom: 2em;
  
}
.text_label{
    position: absolute;
    display: inline-block;
    padding: 0 0.4em;
    background-color: white;
    left: 10px;
    top: -10px;
    font-size: 0.95rem;
}
input[type = "text"], input[type = "email"]{
    padding-top: 1em;
    padding-left: 0.9em;
}
textarea{
    padding:  1em 0.6em;
}
textarea:focus{
    outline: none;
}
.submit{
    width: 50%;
    margin:  0 auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding: 1rem;
    background-color: #66BD66;
    border-radius: 3px;
    border: none;
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    display: block;


}
.submit:hover{
    background-color: rgb(78, 152, 78);
    cursor: pointer;
}
#generate{
    background-color: red;
}

@media (max-width: 920px){
    .form-dflex{
        display: block;
    }
    main{
        width: 50%;
    }
    input{
        width: 100%;
    }
    .image_column{
        width: 100%;
    }
}