@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
:root{
  --green : #66bd6678;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;

}
.d-flex{
  display: flex;
}
#qr-video{
  display: block;
  margin: auto;
  width: 200px;
  height: 200px;
  object-fit: cover;
  border: 4px solid #66BD66;
  border-radius: 3px ;
}
main{

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
main>div{
  width:60% ;

  padding-top: 1em;
  border-radius: 10px;
}
h1{
  color:#66BD66 ;
}
.heading{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 6em;
  
}
.heading>img{
  width: 50px;
}
#qr-result{
  margin-top: 20px;
  padding: 10px;

  border-radius: 5px;

  color:#66BD66;
  text-align: center;
}
.qr-container{

  width: 100%;
  padding: 2em 0;
  margin: auto;
  position: relative;
}
.gradient{
  top: 0;

width: 100%;
height: 100%;
animation: gra 1s infinite;
animation-timing-function: linear;
position: absolute;
}

nav p{
  font-weight: 500;
  font-size: 1.4rem;
  color: #66BD66;
  margin-left: 0.2em;
}
nav button{
  border: none;
  background-color: white;
  margin-left: auto;

}
nav{
  display: flex;
  padding: 0.3em 1.3em;
  margin-bottom: 2em;
  box-shadow: 0px 2px 10px #00000029;
}
.ham_buttons{
  display: block;
  padding: 1em;
  text-decoration: none;
  color: black;

}
.ham_buttons:hover{
  background-color: gainsboro;
}
.ham_buttons>i{
  margin-right: 0.5em;
}

.header__nav-section{
  height: 100vh;
  width: 50vw;
  position: absolute;
  background-color: white;
  right: 0;
  top: 0;
  display: none;
  box-shadow: -3px 0px 10px #00000073;
  z-index: 10;
}


@keyframes gra {
  0% {
    
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 0% ,transparent 100%);
  }
  10%{
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 20% ,transparent 100%);
  }
  20%{
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 55% ,transparent 100%);
  }
  30%{
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 75% ,transparent 100%);
  }
  40%{
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 90% ,transparent 100%);
  }
  50% {
   
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 100% ,transparent 100%);
  }
  60%{
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 90% ,transparent 100%);
  }
  70%{
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 75% ,transparent 100%);
  }
  80%
  {
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 55% ,transparent 100%);
  }
  90%{
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 20% ,transparent 100%);
  }
  100% {
   
    background: linear-gradient(to bottom, transparent 0%,  var(--green) 0% ,transparent 100%);
  }
}