<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmer Pe</title>
    <link rel="stylesheet" href="../static/stylesheet/home_page.css">
</head>
<body>
        <header>
            <nav>
                <div class="d-flex">
                    <img class="nav__icon" src="../static/images/wheat_in_greencircle.svg" alt="">
                    <p>KisaanPe</p>
                </div>
                <button ><img id="hamburger_button" src="../static/images/hamburder_image.svg" alt=""></button>
            </nav>
            <section class="header__nav-section">
                <a  class="ham_buttons" href="/register"><i class="fa-solid fa-user-plus" style="color: #008000;"></i>Register</a>
                <a  class="ham_buttons" href="/login"><i class="fa-solid fa-right-to-bracket" style="color: #008000;"></i>Login</a>
            </section>
            <section class="header__hero-moving">
                <div class="hero-moving__img">
                    <img id="fst"  class="move"  src="../static/images/hero_image.png" alt="">
                    <img class="move"  src="../static/images/hero-img2.png" alt="">
                    <img  class="move" src="../static/images/hero-img3.png" alt="">
                    <img class="move"  src="../static/images/hero-img4.png" alt="">
                    <img class="move"  src="../static/images/hero-img5.png" alt="">
                    <img  class="move" src="../static/images/hero-img6.png" alt="">
                </div>

            </section>
            <h2>Simple, Fast & Secure, Farming, E-Commerce</h1>
            <section class="header__features">
                <ul class="features__flist">
                    <li class="flist__list">
                        <img src="../static/images/qr_code_icon.png" alt="">
                        Scan
                    </li>
                    <li class="flist__list">
                        <img src="../static/images/insurance_icon.png" alt="">
                        Insurance
                    </li>
                    <li class="flist__list">
                        <img src="../static/images/green_list_icon.png" alt="">
                        Registration
                    </li>
                    <li class="flist__list">
                        <img src="../static/images/rupees_icon.png" alt="">
                        Loans
                    </li>
                    <li class="flist__list">
                        <img src="../static/images/store_icon.png" alt="">
                        Stores
                    </li>
                </ul>
            </section>
            <h2>Financial Services Loans Farming,
                instruments & E-commerce
            </h2>
            <section class="header__loans">
                <ul class="loans__lnlist">
                    <div class="lnlist--top">
                        <li class="lnlist__list">
                            <img src="../static/images/goat_farming_icon.png" alt="">
                            <p>Goat farming <br> Loans</p> 
                        </li>
                        <li class="lnlist__list">
                            <img src="../static/images/fish_farming_icon.png" alt="">
                            <p>Fish farming <br> Loans</p> 
                        </li>
                        <li class="lnlist__list">
                            <img class="small-icon" src="../static/images/crop_farming_icon.png" alt="">
                            <p>Crop from <br> Loans</p> 
                        </li>
                        <li class="lnlist__list">
                            <img src="../static/images/cow_farming_icon.png" alt="">
                            <p>Cow farming <br> Loans</p> 
                        </li>
                    </div>
                   <div class="lnlist--bottom">
                        <li class="lnlist__list">
                            <img src="../static/images/poultry_farming_icon.png" alt="">
                            <p>Poultry farming <br> Loans</p> 
                        </li>
                        <li class="lnlist__list">
                            <img src="../static/images/fruit_farming_icon.png" alt="">
                            <p>Veggie farming <br> Loans</p> 
                        </li>
                        <li class="lnlist__list">
                            <img class="small-icon2" src="../static/images/steel_milk_icon.png" alt="">
                            <p>Milk Dairy <br> Loans</p> 
                        </li>
                        <li class="lnlist__list">
                            <img src="../static/images/buffalo_farming_icon.png" alt="">
                            <p>Buffalo farming <br> Loans</p> 
                        </li>
                   </div>
                    
                </ul>
            </section>
        </header>
        <main>
            <section class="main__ad main__ad--1">
                <div class="ad__text">
                    <h1 class="text__heading">
                        India's Farmer Most-loved Agriculture App
                    </h1>
                    <p class="text__para" >
                        Open a savings account, 
                        Animals insurances loans 
                        & Farmings & E-coomerce, 
                        Animal husbandry, 
                        Milk dairy, 
                        Stores, 
                        Fertilizers, 
                        and do a lot more.
                    </p>
                    <button class="ad__btn">Download KisaanPe App</button>
                    
                </div>
                <img src="../static/images/phon_tractor_qrcode.jpeg" alt="">
            </section>
            <section class="main__ad main__ad--2">
                <div class="ad__text">
                    <h1 class="text__heading">India's Most Sincere Kisaan Utilities App</h1>
                    <p class="text__para" >
                        KisaanPe -  With Intelligent Features & Great Features,
                        E - commerce that Never Expire
                    </p>
                    <button class="ad__btn">Download KisaanPe App</button>
                </div>
                <img src="../static/images/phone_tick_list.jpeg" alt="">
            </section>
            <section class="main__ad main__ad--3">
                <div class="ad__text">
                    <h1 class="text__heading">Business Services by KisanPe</h1>
                    <p class="text__para" >KisaanPe - With Intelligent Features &
                        Great Features, E - commerce, 
                        Agriculture Equipment that Never Expire
                    </p>
                    <button class="ad__btn">Explore More</button>
                </div>
                <img src="../static/images/phone_with_farmer.jpeg" alt="">
            </section>
            <section class="main__livecount">
                <img src="../static/images/live_count_img.png" alt="">
            </section>
        </main>
        <footer>
            <section class="footer__social">
                <div class="social__download">
                    <h2>Download <br> Kisaanpe App</h2>
                    <img src="../static/images/gplay_donwload_image.svg" alt="">
                    <img src="../static/images/app_store_donwload_image.svg" alt="">
                </div>
                <div class="social__media">
                    <img src="../static/images/twitter_icon_black.svg" alt="">
                    <img src="../static/images/instagram_icon_image.svg" alt="">
                    <img src="../static/images/facebook.svg_380_3140.svg" alt="">
                </div>
            </section>
            <section class="footer__flinks" >
                <div class="flinks__business">
                    <h2>For Business</h2> 
                    <ul class="business__blist footer_list">
                        <li class="blist__list"> <a  href="#" class="footer__links" href="">Payment Gateway</a> </li>
                        <li class="blist__list"> <a  href="#" class="footer__links" href="">Guardian by KisanPe</a> </li>
                        <li class="blist__list"> <a  href="#" class="footer__links" href="">Express Checkout</a> </li>
                        <li class="blist__list"> <a  href="#" class="footer__links" href="">KisanPe Switch</a> </li>
                        <li class="blist__list"> <a  href="#" class="footer__links" href="">Offline Merchant</a> </li>
                        <li class="blist__list"> <a  href="#" class="footer__links" href=""> Advertise on KisanPe</a></li>
                    </ul>
                </div>
                <div class="flinks__insurance">
                    <h2>Insurance</h2>
                    <ul class="insurance__ilis footer_list">
                        <li class="ilist__list"> <a  href="#" class="footer__links" href="">Cow Insurance</a> </li>
                        <li class="ilist__list"> <a  href="#" class="footer__links" href="">Buffalo Insurance</a> </li>
                    </ul>
                </div>
                <ul class="flinks__mlinks">
                    <li class="mlinks__list"> <a  href="#" class="footer__links" href="">About Us</a> </li>
                    <li class="mlinks__list"> <a  href="#" class="footer__links" href="">Careers</a> </li>
                    <li class="mlinks__list"> <a href="#"  class="footer__links" href="">Contact Us</a> </li>
                    <li class="mlinks__list"> <a  href="#" class="footer__links" href="">Press</a> </li>
                    <li class="mlinks__list"> <a  href="#" class="footer__links" href="">Ethics</a> </li>
                    <li class="mlinks__list"> <a  href="#" class="footer__links" href="">Report Vulnerability</a> </li>
                    <li class="mlinks__list"> <a  href="#" class="footer__links" href="">Merchant Partners</a> </li>
                    <li class="mlinks__list"> <a  href="#" class="footer__links" href="">Blog</a> </li>
                    <li class="mlinks__list"> <a  href="#" class="footer__links" href="">Tech Blog</a> </li>
                </ul>
            </section>
        </footer>
        <script src="../script/hpage.js"></script>
        <script src="https://kit.fontawesome.com/88bc3e9469.js" crossorigin="anonymous"></script>
        <script>
           let images =  document.querySelectorAll(".move")
           let i = 0;
            translation = -100
           setInterval(function(){
            for(let i of images){
                i.style.transform = `translateX(${translation}%)`
            }
            translation -= 100
            if(translation == -600){
                for(let i of images){
                i.style.transform = `translateX(${0}%)`
                translation = -100
                }
            }
           }, 3000)
        </script>
</body>
</html>