<!-- views/login.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheet/login.css">
    <title>Login</title>
</head>
<body>
    <nav>
        <div class="d-flex">
            <img class="nav__icon" src="./images/wheat_in_greencircle.svg" alt="">
            <p>KisaanPe</p>
        </div>
        <button ><img id="hamburger_button" src="./images/hamburder_image.svg" alt=""></button>
    </nav>
    <section class="header__nav-section">
        <a  class="ham_buttons" href="/"><i class="fa-solid fa-house" style="color: #008000;"></i>Home</a>
        <a  class="ham_buttons" href="/register"><i class="fa-solid fa-user-plus" style="color: #008000;"></i>Register</a>
    </section>
    <main class="container">
        <form id="loginForm" action="/login" method="post">
            <h1>Login</h1> <!-- Added action and method -->
            <label for="email">Phone:</label>
            <input type="text" id="email" name="number" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button class="login" type="submit">Login</button>
        </form>
    </main>
    <script src="./script/hpage.js"></script>
    <script src="https://kit.fontawesome.com/88bc3e9469.js" crossorigin="anonymous"></script>
</body>
</html>
