<!-- views/register.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="./images/kisannpe_icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="./stylesheet/register.css">
    <title>Register</title>
</head>
<body>
    <nav>
        <div class="d-flex">
            <img class="nav__icon" src="./images/wheat_in_greencircle.svg" alt="">
            <p>KisaanPe</p>
        </div>
        <button ><img id="hamburger_button" src="./images/hamburder_image.svg" alt=""></button>
    </nav>
    <section class="header__nav-section">
        <a  class="ham_buttons" href="/"><i class="fa-solid fa-house" style="color: #008000;"></i>Home</a>
        <a  class="ham_buttons" href="/logout"><i class="fa-solid fa-right-to-bracket" style="color: #008000;"></i>Login</a>
    </section>
    <div class="container">
        <form id="registerForm" action="/register" method="post" enctype="multipart/form-data">
            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" name="firstName" required>

            <label for="middleName">Middle Name:</label>
            <input type="text" id="middleName" name="middleName">

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" name="lastName" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" >

            <label for="district">District:</label>
            <input type="text" id="district" name="district" required>

            <label for="address">Address:</label>
            <input type="text" id="address" name="address" required>

            <label for="mobileNumber">Mobile Number:</label>
            <input type="tel" id="mobileNumber" name="mobileNumber" required>
           
            <label for="aadharNumber">Aadhar Number:</label>
            <input type="text" id="aadharNumber" name="aadharNumber" required>

            <label for="pinCode">Pin Code:</label>
            <input type="text" id="pinCode" name="pinCode" required>

            <label for="localArea">Local Area:</label>
            <input type="text" id="localArea" name="localArea">

            <label for="Password">Password:</label>
            <input type="password" id="Password" name="Password" required>
           
            <label for="uimg" class="uimg-label">
                <img src="./images/Square_profile_sizing.png" alt="" class="selectedImage" id="uimg_display">
                <input class="uimg-input" type="file" id="uimg" name="uimg" accept="image/*" required>
                <p id="errorMessage"></p>
            </label>
           
            <button type="submit">Register</button>
        </form>
    </div>
    <script src="https://kit.fontawesome.com/88bc3e9469.js" crossorigin="anonymous"></script>
    <script>
        let iserror = false
        function displayImage() {
            // Get the file input element
            var input = document.getElementById('uimg');
    
            // Get the selected file
            var file1 = input.files[0];
     
            if (file1 ) {
                // Create a FileReader
                var reader = new FileReader();

                // Set up a function to be called when the FileReader has loaded the image
                reader.onload = function (e) {
                    // Get the data URL representing the file
                    var imageDataUrl = e.target.result;

                        document.getElementById('uimg_display').src = imageDataUrl;

                    // Update the source of the image element
                    
                };

                // Read the file as a data URL
                reader.readAsDataURL(file1);
            }

        }
        document.getElementById('uimg').addEventListener('change', function () {
        const disp = document.querySelector("#uimg_display")
        const fileInput = this;
        const errorMessage = document.getElementById('errorMessage');
        const maxSizeInBytes = 2 * 1024 * 1024; // 4MB

        if (fileInput.files.length > 0) {
            const fileSize = fileInput.files[0].size;

            if (fileSize > maxSizeInBytes) {
                errorMessage.textContent = 'Error: Image size must be less than 2MB.';
                fileInput.value = ''; // Clear the file input

                disp.src = "./images/Square_profile_sizing.png"
            } 
            else {
                errorMessage.textContent = '';
                displayImage()
                }
         }
        });

    </script>
    <script src="./script/hpage.js"></script>
    
</body>
</html>
